<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.goodnight.mapper.GarbageStationMapper">
    
    <resultMap type="GarbageStation" id="GarbageStationResult">
        <result property="id"    column="id"    />
        <result property="stationId"    column="station_id"    />
        <result property="stationName"    column="station_name"    />
        <result property="address"    column="address"    />
        <result property="capacity"    column="capacity"    />
        <result property="head"    column="head"    />
        <result property="stationStatus"    column="station_status"    />
        <result property="phone"    column="phone"    />
        <result property="notes"    column="notes"    />
    </resultMap>

    <sql id="selectGarbageStationVo">
        select id, station_id, station_name, address, capacity, head, station_status, phone, notes from sm_garbage_station
    </sql>

    <select id="selectGarbageStationList" parameterType="GarbageStation" resultMap="GarbageStationResult">
        <include refid="selectGarbageStationVo"/>
        <where>  
            <if test="stationId != null  and stationId != ''"> and station_id = #{stationId}</if>
            <if test="stationName != null  and stationName != ''"> and station_name like concat('%', #{stationName}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="head != null  and head != ''"> and head like concat('%', #{head}, '%')</if>
            <if test="stationStatus != null  and stationStatus != ''"> and station_status = #{stationStatus}</if>
        </where>
    </select>
    
    <select id="selectGarbageStationById" parameterType="Long" resultMap="GarbageStationResult">
        <include refid="selectGarbageStationVo"/>
        where id = #{id}
    </select>

    <insert id="insertGarbageStation" parameterType="GarbageStation">
        insert into sm_garbage_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stationId != null and stationId != ''">station_id,</if>
            <if test="stationName != null and stationName != ''">station_name,</if>
            <if test="address != null">address,</if>
            <if test="capacity != null">capacity,</if>
            <if test="head != null">head,</if>
            <if test="stationStatus != null">station_status,</if>
            <if test="phone != null">phone,</if>
            <if test="notes != null">notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stationId != null and stationId != ''">#{stationId},</if>
            <if test="stationName != null and stationName != ''">#{stationName},</if>
            <if test="address != null">#{address},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="head != null">#{head},</if>
            <if test="stationStatus != null">#{stationStatus},</if>
            <if test="phone != null">#{phone},</if>
            <if test="notes != null">#{notes},</if>
         </trim>
    </insert>

    <update id="updateGarbageStation" parameterType="GarbageStation">
        update sm_garbage_station
        <trim prefix="SET" suffixOverrides=",">
            <if test="stationId != null and stationId != ''">station_id = #{stationId},</if>
            <if test="stationName != null and stationName != ''">station_name = #{stationName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="head != null">head = #{head},</if>
            <if test="stationStatus != null">station_status = #{stationStatus},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="notes != null">notes = #{notes},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGarbageStationById" parameterType="Long">
        delete from sm_garbage_station where id = #{id}
    </delete>

    <delete id="deleteGarbageStationByIds" parameterType="String">
        delete from sm_garbage_station where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>